@font-face {
  font-family: 'Tehran';
  src: url('../fonts/BNazanin.eot?#') format('eot'), url('../fonts/BNazanin.woff') format('woff'), url('../fonts/BNazanin.ttf') format('truetype');
}
.primary-flex-div {
  display: flex;
  height: 250px;
  width: auto;
  border-radius: 15px;
}
.vertical-text-flexbox {
  flex-flow: column wrap;
  justify-content: center;
  text-align: right;
}
.top-sharp {
  border-top-right-radius: 0 !important;
  border-top-left-radius: 0 !important;
}
.bottom-sharp {
  border-bottom-right-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}
.left-sharp {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}
.right-sharp {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}
.intro-section {
  display: flex;
  height: 250px;
  width: auto;
  border-radius: 15px;
  flex-flow: column wrap;
  justify-content: center;
  text-align: right;
  background-color: #a391bf;
  color: #e6e6e6;
}
.big-section {
  display: flex;
  height: 250px;
  width: auto;
  border-radius: 15px;
  flex-flow: column wrap;
  justify-content: center;
  text-align: right;
  background-color: #cccccc;
  color: #6e519c;
}
.big-section p {
  margin: 0;
  color: #a391bf;
}
.small-section {
  display: flex;
  height: 250px;
  width: auto;
  border-radius: 15px;
  flex-flow: column wrap;
  justify-content: center;
  text-align: right;
  align-items: center;
  background-color: #a391bf;
}
.light-text-div {
  text-align: center;
  border-radius: 5px;
  height: 28px;
  width: 85%;
  background-color: #e6e6e6;
  color: #a391bf;
  font-weight: bold;
}
.type-image-div {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  width: 85%;
  height: 80px;
  background-color: #e6e6e6;
}
body {
  font-family: 'Tehran';
  background-color: #e6e6e6;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}
.row {
  margin-top: 20px;
  margin-left: 2px;
  margin-right: 2px;
}
.header {
  display: flex;
  width: auto;
  height: 80px;
  background-color: #cccccc;
  border-radius: 30px;
  border-bottom-right-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}
.footer {
  display: flex;
  flex-flow: row wrap;
  width: auto;
  height: 80px;
  background-color: #cccccc;
  margin-bottom: 20px;
  border-radius: 30px;
  border-top-right-radius: 0 !important;
  border-top-left-radius: 0 !important;
}
.footer a {
  color: #6e519c;
  font-weight: bold;
}
.footer p {
  color: #a391bf;
}
.navbar {
  display: flex;
  width: 100%;
}
.navbar-brand {
  position: relative;
  justify-self: flex-start;
  color: #2e0078 !important;
}
.avatar {
  justify-self: flex-end;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.navbar-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.nav-item {
  margin-left: 20px;
}
.menu {
  justify-content: end;
}
.menu a {
  color: #a391bf;
  font-weight: bold;
}
.desktop-menu {
  justify-content: center;
}
.desktop-menu a {
  color: #a391bf;
  font-weight: bold;
}
.gallary-row {
  justify-content: space-between;
  align-content: space-between;
}
.card {
  display: flex;
  height: 250px;
  width: auto;
  height: 200px;
  width: 175px;
  align-items: center;
  background-color: #cccccc;
  padding: 0;
  margin: 2px;
  margin-bottom: 10px;
  border-radius: 15px;
  border: none;
}
.card-img-top {
  height: 175px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.card-body {
  padding: 0;
}
.card-title {
  color: #a391bf;
}
.badge {
  border-radius: 5px;
}
.badge-light {
  background-color: #e6e6e6;
  color: #a391bf;
}
.modal-content {
  border-top-right-radius: 0 !important;
  border-top-left-radius: 0 !important;
  border: none;
  border-radius: 15px;
  background-color: #cccccc;
  color: #6e519c;
}
.modal-header {
  border-top-right-radius: 0 !important;
  border-top-left-radius: 0 !important;
  border: none;
  background-color: #6e519c;
  color: #e6e6e6;
}
